/* Common styles */

/* Font styles */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

/* <!-- HEADER START --> */

/* <!-- NAVIGATION START --> */
.navigation {
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-elements {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 38px 0;

}

.nav-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.brand-logo {

    color: #0B0223;
    font-family: Work Sans;
    font-size: 45px;
    font-weight: 700;
}

.colorful-letter {
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.menu-item {
    color: #3C354F;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
    padding: 18px 24px;
    background: white;
    border: none;
}

.special-menu-item {
    color: #3C354F;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
    padding: 18px 24px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    border: none;
}

.youtube1 {
    padding: 0 14px;
}

/* <!-- NAVIGATION END --> */

/* <!-- BANNER START --> */


.banner-container {
    margin: auto;
    display: none;
    gap: 68px;
    margin-bottom: 100px;

}

.banner-info {
    width: 50%;
    display: flex;
    /* background-image: url("/images/group14.png");
    background-repeat: no-repeat;
    background-size: cover; */
    border: 2px solid red;
}

.info {
    border: 2px solid green;

}

.banner-title1 {
    border: 1px solid yellow;
    color: #0B0223;
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-title2 {
    font-family: Work Sans;
    font-size: 95px;
    font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.banner-text {
    color: #534C64;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 500;
    margin: 16px 0;
}

p>i {
    margin-right: 15px;
}

.banner-buttons {
    display: flex;
    gap: 24px;
    margin-top: 62px;
}

.button1 {
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    border-radius: 48px;
    padding: 22px 40px;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    border: none;

}

.button2 {
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    border-radius: 48px;
    padding: 22px 40px;
    background: #4EC5F7;
    border: none;
}


.banner-image {
    border: 2px solid red;
    width: 50%;
    text-align: left;
}

.image {
    width: 100%;
}

/* <!-- BANNER END --> */

/* <!-- HEADER END --> */


/* <!-- MAIN START --> */

/* <!-- GAMER CONTAINER START --> */
.gamer-container {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.gamer-section {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.gamer-container-image {
    width: 60%;
    padding: 55px 0;
}

.gamer-image {
    width: 100%;
    height: 100%;
}

.gamer-container-texts {
    width: 40%;
    padding: 55px 0;
    text-align: end;

}

.gamer-title {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 700;
}

.gamer-description {
    color: #534C64;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 24px 10px 32px;
}

.gamer-button {
    border-radius: 48px;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    color: #FFF;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 40px;
    border: none;
}

.gamer-purpose {
    color: #534C64;
    font-family: Work Sans;
    font-size: 24px;
    font-weight: 500;
    line-height: 45px;
    margin-top: 24px;
}

.gamer-quote {
    font-size: 32px;
    font-weight: 700;
}

/* <!-- GAMER CONTAINER END --> */

/* <!-- GAMES CONTAINER START --> */


.games-container {
    width: 80%;
    margin: 120px auto 120px;

}


.games-title {
    color: #0B0223;
    text-align: center;
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 700;
}

.colorful-text {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.games-description {
    color: #534C64;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 400;
    margin: 16px 0 48px;
}


.game-boxes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}

.box {
    box-shadow: 0px 5px 10px rgba(128, 128, 128, 0.219);
    border-radius: 15px;

}

.box-image {
    width: 100%;
}

.box-caption {
    color: #534C64;
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 500;
    margin: 24px 5px;
}

/* <!-- GAMES CONTAINER END --> */

/* <!-- PLAY CONTAINER 1 START --> */
.play-container {
    width: 80%;
    margin: auto;
    margin-bottom: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20%;
}

.play-container-texts {
    width: 40%;
    text-align: center;
    margin-left: 20%;
}

.play-images {
    width: 60%;
}

.play-title {
    text-align: right;
    font-family: Work Sans;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 24px;
}

.play-description {
    color: #534C64;
    text-align: right;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;

}

.play-image1 {
    width: 100%;
    border-radius: 8px;
}

.play-image2 {
    width: 50%;
    border-radius: 8px;
    position: relative;
    margin-top: -47%;
    margin-left: -22%;
}

/* <!-- PLAY CONTAINER 1 END --> */

/* <!-- PLAY CONTAINER 2 START --> */
/* <!-- PLAY CONTAINER 2 END --> */

/* <!-- CAREERS CONTAINER START --> */
/* <!-- CAREERS CONTAINER END --> */

/* <!-- GAME-TYPE CONTAINER START --> */
/* <!-- GAME-TYPE CONTAINER END --> */

/* <!-- MAIN END --> */


/* <!-- FOOTER CONTAINER START --> */
/* <!-- FOOTER CONTAINER END --> */




/* --------RESPONSIVENESS START */

/* FOR SMALL DEVICES START */
@media screen and (max-width: 560px) {

    /* <!-- NAVIGATION START --> */
    .nav-elements {
        flex-direction: column;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
    }

    /* <!-- NAVIGATION END --> */

    /* <!-- BANNER START --> */
    .banner-container {
        flex-direction: column-reverse;
        gap: 10px;
    }

    .banner-info {
        width: 80%;
    }

    .info {
        padding: 100px 0;
    }

    .banner-title1 {
        font-size: 28px;
    }

    /* <!-- BANNER END --> */

    /* <!-- GAMER CONTAINER START --> */
    .gamer-container {
        background: white;
    }

    .gamer-section {
        gap: 0;
        flex-direction: column;
    }

    .gamer-container-image {
        width: 100%;
        padding: 50px 0;
    }

    .gamer-container-texts {
        width: 80%;
        padding: 0 0;
        text-align: center;
    }

    .gamer-title {
        font-size: 28px;
    }

    .gamer-description {
        font-size: 12px;
        margin: 20px 0 26px;
    }

    .gamer-button {
        font-size: 14px;
        padding: 14px 20px;
    }

    .gamer-purpose {
        font-size: 16px;
    }

    .gamer-quote {
        font-size: 16px;
    }

    /* <!-- GAMER CONTAINER END --> */

    /* <!-- GAMES CONTAINER START --> */
    .games-container {
        margin: 80px auto 80px;
    }

    .games-title {
        font-size: 24px;
    }

    .games-description {
        font-size: 10px;
        margin: 14px 0 38px;
    }

    .game-boxes {
        width: 75%;
        margin: auto;
        grid-template-columns: repeat(1, 1fr);
        gap: 18px;
    }

    .box-caption {
        font-size: 11px;
        margin: 12px 2px;
    }

    /* <!-- GAMES CONTAINER END --> */

    /* <!-- PLAY CONTAINER 1 START --> */

    .play-container {
        margin-bottom: 100px;
        flex-direction: column;
        gap: 0;
    }

    .play-container-texts {
        width: 80%;
        margin: 0;
    }

    .play-images {
        width: 70%;
        margin-left: 17%;
    }

    .play-title {
        text-align: center;
        font-size: 38px;
    }

    .play-description {
        text-align: center;
        font-size: 12px;
        margin-bottom: 50px;

    }


    /* <!-- PLAY CONTAINER 1 END --> */


}

/* FOR SMALL DEVICES END */


/* FOR MEDIUM DEVICES START */
@media screen and (min-width: 560px) and (max-width:992px) {

    /* <!-- NAVIGATION START --> */

    .nav-elements {
        flex-direction: column;
    }

    .nav-menu {
        margin-top: 30px;
        display: flex;
    }

    /* <!-- NAVIGATION END --> */
    /* <!-- BANNER START --> */

    /* ------------------------------------------- */
    /* <!-- BANNER END --> */

    /* <!-- GAMER CONTAINER START --> */
    .gamer-container {
        background: white;
    }

    .gamer-section {
        gap: 0;
        flex-direction: column;
    }

    .gamer-container-image {
        width: 100%;
        padding: 50px 0;
    }

    .gamer-container-texts {
        width: 80%;
        padding: 0 0;
        text-align: center;
    }

    .gamer-title {
        font-size: 38px;
    }

    .gamer-description {
        font-size: 16px;
        margin: 20px 0 26px;
    }

    .gamer-button {
        font-size: 18px;
        padding: 20px 26px;
    }

    .gamer-purpose {
        font-size: 20px;
    }

    .gamer-quote {
        font-size: 26px;
    }

    /* <!-- GAMER CONTAINER END --> */

    /* <!-- GAMES CONTAINER START --> */
    .games-container {
        margin: 100px auto 80px;
    }

    .games-title {
        font-size: 38px;
    }

    .games-description {
        font-size: 16px;
        margin: 16px 0 50px;
    }

    .game-boxes {
        width: 90%;
        margin: auto;
        grid-template-columns: repeat(2, 1fr);
        gap: 22px;
    }

    .box-caption {
        font-size: 16px;
        margin: 16px 4px;
    }

    /* <!-- GAMES CONTAINER END --> */

    /* <!-- PLAY CONTAINER 1 START --> */
    .play-container {
        margin-bottom: 100px;
        flex-direction: column;
        gap: 0;
    }

    .play-container-texts {
        width: 80%;
        margin: 0;
    }

    .play-images {
        width: 80%;
        margin-left: 17%;
    }

    .play-title {
        text-align: center;
        font-size: 44px;
    }

    .play-description {
        text-align: center;
        font-size: 16px;
        margin-bottom: 50px;
    }

    /* <!-- PLAY CONTAINER 1 END --> */

}

/* FOR MEDIUM DEVICES END */

/* --------RESPONSIVENESS END */